{% extends 'base.html.twig' %}

{% block title %}Link{% endblock %}

{% block body %}
    <h1>Link</h1>

    <table class="table">
        <tbody>
            <!--tr>
                <th>Id</th>
                <td>{{ link.id }}</td>
            </tr-->
            <tr>
                <th>ShortLink</th>
                <td>{{ link.shortLink }}</td>
            </tr>
            <tr>
                <th>LongLink</th>
                <td>{{ link.longLink }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ link.createdAt ? link.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ModifiedAt</th>
                <td>{{ link.modifiedAt ? link.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>LastUsedAt</th>
                <td>{{ link.lastUsedAt ? link.lastUsedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UsedTimesCount</th>
                <td>{{ link.usedTimesCount }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ link.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_link_index') }}">back to list</a>

    <a href="{{ path('app_link_edit', {'id': link.id}) }}">edit</a>

    {{ include('link/_delete_form.html.twig') }}
{% endblock %}
